.login{
    background-image: url(https://images7.alphacoders.com/422/422958.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100%;
    margin-top: 20px;
}
.r{
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;   
}
.o{
    text-align: center;
}